[package]
name = "difference_between_ones_and_zeros_in_row_and_column"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
